<div class="columns large-centered large-8 panel text-center">
  <h1>Wumpit</h1>
  <%= link_to "New Game", games_start_path, class: 'button' %>
  <%= link_to "Resume", games_resume_path, class: 'button' %>
</div>
