<div class="columns large-centered large-6 text-center">
  <h1>You have slain the Wumpit!</h1>
  <h1>You Win!</h1>
  <%= link_to "Submit score", new_high_score_path, class: 'button' %>
  <%= link_to "Play Again?", games_start_path, class: 'button' %>
</div>
