// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#wumpit {
  margin-top: 75px;
  padding-bottom: 15px;
  font-family: 'Kaushan Script', cursive;
  font-weight: bold;
  font-size: 10.5em;
  color: #f08a24;
}
